.frame {
    position: relative;
    width: 1024px;
    min-height: 768px;
    background: #FFFFFF;
}

.feedback-form {
    position: relative;
    width: 481px;
    left: 264px;
    top: 23px;
    height: auto;
    /*overflow: auto;
    min-height: 390px;
    max-height: 555px;*/
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    background: #F7F5F9;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Robotobold.woff2') format('woff2'),
        url('../fonts/Robotobold.woff') format('woff'),
        url('../fonts/Robotobold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.woff2') format('woff2'),
        url('../fonts/Roboto.woff') format('woff'),
        url('../fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SF-Font-Pro.dmg');
}

/* заголовок */
.feedback-form__title {
    position: absolute;
    width: 168px;
    height: 20px;
    left: 40px;
    top: 38px; /*был 40*/
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #3B3D43;
}

ul {
    padding: 0;
}

/* инпут для ФИО*/
.feedback-form__input-name {
    position: absolute;
    width: 401px;
    height: 48px;
    left: 40px;
    top: 82px; /*был 82*/
    text-indent: 15px;
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: hidden;
    font-family: SF Pro Text, serif;
    font-size: 15px;
    line-height: 20px;
}

/* требования к ФИО */
.name {
    position: relative;
    left: 40px;
    width: 401px;
    top: 143px;
    display: block;
}

/* инпут для номера телефона */
.feedback-form__input-phone {
    position: relative;
    width: 401px;
    height: 48px;
    left: 40px;
    top: 145px; /*был 155*/
    text-indent: 15px;
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: hidden;
}

/* требования к номеру телефона */
.phone {
    position: relative;
    width: 401px;
    left: 40px;
    top: 142px;
    display: block;
}

/* инпут для почты */
.feedback-form__input-email {
    position: relative;
    width: 401px;
    height: 48px;
    left: 40px;
    top: 148px; /*228*/
    text-indent: 15px;
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border-style: hidden;
}

/* требования к почте */
.email {
    position: relative;
    width: 401px;
    left: 40px;
    top: 144px;
    display: block;
}

/* кнопка отправки формы */
.feedback-form__button-send {
    position: relative;
    width: 401px;
    height: 48px;
    left: 40px;
    top: 152px; /*304*/
    background: #6979F8;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border-style: hidden;
}

/* для "резиновой" высоты формы,
 потому что height: auto у формы работает не так как хочется */
.feedback-form__filler {
    height: 192px;
}

/* плейсхолдеры инпутов */
input::-webkit-input-placeholder {
    position: absolute;
    left: 15px;
    right: 8.76%;
    top: 29.17%;
    bottom: 29.17%;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #D0C9D6;
}

input::-moz-placeholder {
    position: absolute;
    left: 15px;
    right: 8.76%;
    top: 29.17%;
    bottom: 29.17%;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #D0C9D6;
}

input:-moz-placeholder {
    position: absolute;
    left: 15px;
    right: 8.76%;
    top: 29.17%;
    bottom: 29.17%;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #D0C9D6;
}

input:-ms-input-placeholder {
    position: absolute;
    left: 15px;
    right: 8.76%;
    top: 29.17%;
    bottom: 29.17%;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #D0C9D6;
}

/* фокус на плейсхолдеры */
:focus::-webkit-input-placeholder { color: transparent; }
:focus::-moz-placeholder { color: transparent; }
:focus:-moz-placeholder { color: transparent; }
:focus:-ms-input-placeholder { color: transparent; }

/* список требований к инпутам*/
.feedback-form__input-requirements {
    font-style: italic;
    text-align: left;
    list-style: disc inside;
    max-width: 400px;
    margin: 10px 5px;
    color: rgb(150,150,150);
}

/* для невалидного элемента из списка требований */
.feedback-form__input-requirements li.invalid {
    color: #e74c3c;
}

/* для валидного элемента из списка требований */
.feedback-form__input-requirements li.valid {
    color: #2ecc71;
}

/* для отображения галочки рядом с валидными элементами */
.feedback-form__input-requirements li.valid:after {
    display: inline-block;
    padding-left: 10px;
    content: "\2713";
}

/* фокус на все инпуты кроме кнопки */
input:not([type="submit"]):focus {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #854FC8;
}

/* наведение на кнопку */
input[type="submit"]:hover {
    cursor: pointer;
    background-color: #6e8ef8;
}

/* фокус на кнопку */
input[type="submit"]:focus {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #854FC8;
    cursor: pointer;
    background-color: #6e8ef8;
}

/* анимация требований при взаимодействии с инпутами*/
input:not([type="submit"]) + .feedback-form__input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out;
}

input:not([type="submit"]):hover + .feedback-form__input-requirements,
input:not([type="submit"]):focus + .feedback-form__input-requirements,
input:not([type="submit"]):active + .feedback-form__input-requirements {
     max-height: 1000px;
     transition: max-height 1s ease-out;
}



